<header class="header-container">
  <div class="logo">
    <span>MeetUp</span>
  </div>

  <div class="header-search">
    <app-search></app-search>
  </div>

  @if (user$ | async; as user) {
    <button class="profile-button" type="button" (click)="openDrawer()">
      <span class="user-name">{{ user.name }}</span>
      <span class="avatar">{{ user.name[0] }}</span>
    </button>
  }
</header>

<app-profile-drawer
  [open]="isDrawerOpen"
  (close)="closeDrawer()"
  (logout)="logout()"
></app-profile-drawer>
